@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pacifico&family=Satisfy&display=swap');
*{
	margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Lugrasimo', cursive;
}
nav{
    background: linear-gradient(37deg, rgba(240, 58, 137, 0.919) 32%, rgba(15,208,202,0.9556197478991597) 91%);
    color: rgb(168, 18, 43);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
	padding-left: 5px;
}
.logo h1{
	background: linear-gradient(37deg, cyan 20%, yellow 91%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.logo p{
	color: #000;
	font-size: small;
	/*padding-left: 5px;*/
	letter-spacing: 1px;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: yellow;
    font-size: 18px;
    transition: 0.2s ease;
}
nav .mainMenu li a:hover{
    color: rgb(168, 18, 43);
}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu,
  .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover{
    color: yellow;
}
.fa-twitter:hover{
    color: yellow;
}
.fa-instagram:hover {
    color: yellow;
  }
.fa-github:hover {
    color: yellow;
}
nav .logo {
    margin: 6px;
    cursor: pointer;
}

/*@media (max-width: 800px)*/
@media (max-width: 990px)
{
	.logo{
		font-size: 1rem;
	}
	nav .mainMenu {
		height: 100vh;
        position: fixed;
        top: 0px;
    	right: 0px;
    	left: 0px;
    	z-index: 10;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	background: rgba(5, 185, 185, 0.769);
    	transition: top 1s ease 0s;
    	display: none;
    }
    nav .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
    }
    nav .openMenu {
		display: block;
    }
    nav .mainMenu li a:hover {
		background: none;
		color: rgb(168, 18, 43);
    }
    .icons i {
    	display: inline-block;
    	padding: 12px;
    }
}


.video_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}
@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width: 600px) {
	section {
		padding: 125px 30px;
	}
}
.video_box {
	position: relative;
	justify-content: center;
	min-height: 100vh;
    color: rgb(19, 164, 164);
	text-align: center;
    /*
	display: table;
	background-attachment: fixed;
	*/
}
.video_box video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.video_box h1 {
	margin-bottom: 15px;
	font-size: 65px;
	font-family: 'Pacifico', cursive;
	color: yellow;
	/*color: rgb(22, 181, 181);*/
	font-weight: 300;
	letter-spacing: 0.3rem;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

	/*display: table-cell;*/
}
.video_box h3 {
	margin-bottom: 40px;
	font-size: 25px;
    color: rgb(168, 18, 43);

	/*display: table-cell;*/
}
.video_box a.boxBtn {
	/*padding: 15px 35px;*/
	padding: 12px 32px;
	background: transparent;
	border-radius: 50px;
	color: rgb(168, 18, 43);
	text-transform: uppercase;
	border: 4px solid rgb(168, 18, 43);
    font-weight: bold;
	transition: all .5s;
	text-decoration: none;
}
.video_box a.boxBtn:hover {
	background: cyan;
	color: #000;
}
@media (max-width: 800px) {
	.video_box {
		min-height: 600px;
	}
	.video_box h1 {
		font-size: 32px;
	}
	.video_box h3 {
		font-size: 20px;
	}
	.video_box a.boxBtn {
		padding: 15px 40px;
	}
}


footer{
	/*position: absolute;*/
	bottom: 0px;
	width: 100%;
	background: linear-gradient(24deg, rgba(37, 166, 117, 0.919) 32%, rgba(51, 91, 211, 0.984) 91%);
} 
.main-content{
	display: flex;
}
.main-content .box{
	flex-basis: 50%;
	/*padding: 10px 20px;*/
	padding: 15px;
}
.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}
.box .content{
	margin: 20px 0 0 0;
	position: relative;
	font-family: 'Times New Roman', Times, serif;
}
.box .content:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: #a8122b;
}
.box .content:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	top: -10px;
}
.left .content p{
	text-align: justify;
}
.left .content .social{
	margin: 20px 0 0 0;
}
.left .content .social a{
	padding: 0 2px;
}
.left .content .social a span{
	height: 40px;
	width: 40px;
	background: transparent;
	line-height: 40px;
	text-align: center;
	font-size: 25px;
	border-radius: 50%;
	transition: 0.3s;
}
.left .content .social a span:hover{
	background: #000;
}
.left .content .text{
	font-size: 1.0625rem;
	font-weight: 500;
	padding-left: 10px;
}
.left .content .facebook{
	padding: 5px 0px;
}
.left .content .twitter{
	padding: 5px 0px;
}
/*
  .center .content .fas{
	font-size: 1.4375rem;
	font-size: 1.5rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
  }
  .center .content .fas:hover{
	background: #fff;
  }
*/
.center .content .text{
	font-size: 1.0625rem;
	font-size: 1rem;
	font-weight: 500;
	padding-left: 10px;
}
.center .content .text:hover{
	color: #a8122b;
}
.center .content .list{
	/*margin: 13px 0;*/
	padding: 5px 0px;
	padding: 10px 0px;
}
.center .content .list2{
	/*margin: 13px 0;*/
	padding-top: 10px;
	padding-bottom: 10px;
}
.center .content .list1{
	/*margin: 13px 0;*/
	padding-top: 10px;
}
.center .content .list a{
	text-decoration: none;
}
.center .content .list2 a{
	text-decoration: none;
}
.center .content .list1 a{
	text-decoration: none;
}
  
.right .content .fas{
	font-size: 1.4375rem;
	font-size: 1.5rem;
	/*background: transparent;*/
	height: 45px;
	height: 40px;
	width: 45px;
	width: 40px;
	line-height: 45px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}
.right .content .fas:hover{
	background: #000;
}
.right .content .text{
	font-size: 1.0625rem;
	font-weight: 500;
	padding-left: 10px;
}
.right .content .place{
	padding: 5px 0px;
}
.right .content .whatsapp{
	padding: 5px 0px;
}
.bottom center{
	padding: 5px;
	font-size: 0.9375rem;
	background: #000;
}
.bottom center span{
	color: #8a8989;
}
.bottom center a{
	color: #a8122b;
	text-decoration: none;
}
.bottom center a:hover{
	text-decoration: underline;
}
@media screen and (max-width: 900px) {
	footer{
	  position: relative;
	  bottom: 0px;
}
.main-content{
	  flex-wrap: wrap;
	  flex-direction: column;
}
.main-content .box{
	  margin: 5px 0;
	}
}

.services{
    height: 60vh;
    width: 100%;
    /*background-image: url(image1.jpg);*/
	background: 
	linear-gradient(to bottom,rgba(166, 247, 239, 0.51), rgba(15, 13, 13, 0.889)), url('https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    box-sizing: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    /*Parallax effect is coming for these two lines*/
    display: table;
    background-attachment: fixed;
}
.box1>main{
	font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    color: #000000da;
    margin: 0px;
    text-align: center;
    /*Parallax effect is coming for this line*/
    display: table-cell;
    vertical-align: middle;
}


.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
	font-family: 'Lugrasimo', cursive;
}

.service{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    /*background-color: #462fc864;*/
    background:transparent;
    background: rgba(221, 107, 126, 0.365);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    cursor: pointer;
	font-family: 'Times New Roman', Times, serif;
}
.card:hover{
    background-color: rgba(199, 26, 55, 0.348);
    transition: 0.4s ease;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 28px;
	color: yellow;
    margin-bottom: 20px;
}
.card p{
    font-size: 17px;
    margin-bottom: 34px;
    line-height: 1.5;
    color: #000;
}
.button{
    font-size: 15px;
    text-decoration: none;
	color: yellow;
    padding: 8px 12px;/*1px*/
    border-radius: 5px;
    letter-spacing: 1px;
}
.button:hover{
    background-color: rgb(3, 84, 191);
    transition: 0.4s ease;
}
@media screen and (max-width:940px){
    .service{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
}
